html * {
  font-family: Arial !important;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.StreamRow {
  border: 1px solid black;
}

.StreamList {
  position: absolute;
  overflow-y: scroll;
  height: 80%;
  width: 100%;
}

.VolumeSlider {
  width: 125px;
}

.pullTab {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  top: 88%;
  position: absolute;
}

.SpotifyPlayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  clear: both;
  height: 8%;
  .leftOfPlayer {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 0 0 10px;
    border: 1px solid black;
    left: 10px;
    .dashboard-info {
      margin-right: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .middleOfPlayer {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    .topOfMiddle {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .bottomOfMiddle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .rightOfPlayer {
    display: flex;
    flex: 1;
    justify-content: center;
    .dashboard-volume {
      margin-left: auto;
    }
  }
}

.logo {
  width: 300px;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconFill {
  fill: #0048ff;
}

.centerText {
  text-align: center;
  padding: 0 5px 0 5px;
}
